
<% content_for :title, "Platform Data Extension" %>

<div class="subheader">Attributes in <%= params[:region] %> [<%= params[:release] %>] </div>

<table class="pde_table" cellpadding="4" cellspacing="0" border="1" width="90%">
	<thead>
		<tr>
			<th width="15%">Attribute</th>
			<th width="40%">Description</th>
			<th width="45%">Layers</th>
		</tr>
	</thead>
	<tbody id="attributes_table_body">
		<% bookmark = "" %>

		<% @json.each do |attribute| %>
			<% new_bookmark = attribute['name'][0] %>

			<% if new_bookmark != bookmark %>
				<% bookmark = new_bookmark %>
				<tr><td colspan="3" align="center" class="merged"><b> <%= bookmark %> </b></td></tr>
			<% end %>

			<% parameters = "?" + "region=" + params[:region] + "&release=" + params[:release]+ "&url_root=" + params[:url_root] + "&layer=" %>
			<tr>
				<td><%= attribute['name'] %></td>
				<td><%= raw(attribute['description']) %></td>
				<td><%= raw(attribute['layers'].map{ |layer| link_to layer, "/pde/layer" + parameters + layer }.join(", ")) %></td>
			</tr>

		<% end %>
	</tbody>
</table>
